body{
  background-image: url(backImg.jpg);
}

#gameBoard{
  text-align: center;
  margin-bottom: 30px;
}

.jumbotron-fluid{
  text-align: center;
}

#score{
  margin-right: 120px;
}

#playerName{
  border-radius: 10px;
}

#gameBoard h2{
  margin-top: 0px;
}

#top{
  background-color: #BBCF4A;
}

#refresh{
  margin-top: 30px;
  padding: 15px;
  width: 200px;
}


li {
  display: none;
  margin: auto;
  margin-top: 50px;
}

.col-xs-2 {
  margin: auto;
  margin-top: 20px;
  margin-left: 30px;
}



.sun {
content:url(sun.png);
width: 150px;

}

.earth {
content:url(earth.png);
width: 150px;

}

.moon {
content:url(moon.png);
width: 150px;
}

.water {
content:url(water.png);
width: 150px;
}

.wind {
content:url(wind.png);
width: 150px;
}

.fire {
content:url(fire.png);
width: 150px;
}

.rain {
content:url(rain.png);
width: 150px;
}

.tree {
content:url(tree.ico);
width: 150px;
}

.mountain {
content:url(mountain.png);
width: 150px;
}

.rock {
content:url(rock.png);
width: 150px;
}



.back {
  content:url(nature1.jpg);
  display: block;
  height: 150px;
  border-radius: 20px;
}
