form {
  text-align: center;
}

li {
  display: none;
  margin: auto;
  margin-top: 50px;
}



.sun {
content:url(sun.png);
width: 150px;

}

.earth {
content:url(earth.png);
width: 150px;

}

.moon {
content:url(moon.png);
width: 150px;
}

.water {
content:url(water.png);
width: 150px;
}

.wind {
content:url(wind.png);
width: 150px;
}

.fire {
content:url(fire.jpeg);
width: 150px;
}
.back {
  content:url(nature.jpg);
  display: block;
  height: 150px;

}
